/* apply styling to the body */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #69645b;
}

/* apply styling to social media icons */
.social {
  text-align: center;
  margin-top: 25px;
}

.social i {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 23px;
}

/* apply styling to the header section */
header img {
    font-size: 36px;
    margin: 0;
    display: inline;
    height: 150px;
}

header a {
    text-decoration: none;
    color: #69645b;
}

header nav {
    float: right;
    margin: 7px 0;
    margin-top: 70px;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-size: 22px;
  }

/* apply styling to the hero section */
section {
  padding: 60px;
}

.hero {
  background-image: url(../images/kim.png);
  height: 600px;
  background-size: contain;
  background-position: top;
  position: relative;
}

.hero .form {
  background-color: #ffc6c3;
  padding: 20px;
  width: 500px;
  color: #69645b;
  border: solid 3px #69645b;
  padding: 20px;
  width: 500px;
  position: absolute;
  bottom: 120px;
  right: 140px;
}

.hero .form p {
  margin: 5px 0 15px 0;
}

.hero .form h3 {
  font-size: 24px;
  margin: 0;
}

.hero .form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

.hero .form button {
  color: #ffc6c3;
  background-color: #69645b;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

/* apply styling to about me section */
.about-me {
  background-color: #ffc6c3;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-2 {
  flex-basis: 50%;
}

.about-me .col-2 img {
  height: 350px;
  object-fit: contain;
  overflow: hidden;
}

.about-me .col-2 p {
  margin-left: -290px;
  margin-top: 25px;
}

/* apply styling to the services section */
.services .section-title{
  text-align: center;
  font-size: 55px;
  padding-bottom: 20px;
}

.services {
  text-align: center;
}

.services p {
  font-size: 23px;
  font-family: 'Alex Brush';
}

.services .col-3 {
  flex-basis: 33.3%;
  padding: 40px;
}

.title {
  padding-bottom: 20px;
}

/* add styling to hire me section */
.hire-me .section-title {
  font-size: 55px;
  padding-bottom: 20px;
}

.hire-me {
  background-color: #ffc6c3;
}

.hire-me .comment {
  font-size: 23px;
}

.hire-me .form-input-hire {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 30%;
  margin-bottom: 15px;
}

.hire-me .submit {
  color: #ffc6c3;
  background-color: #69645b;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.hire-me .comment {
  font-size: 23px;
}

.hire-me .content {
  font-size: 20px;
}

/* apply styling to book me section */
.booking .section-title {
  font-size: 55px;
  padding-bottom: 20px;
}

.booking .comment {
  font-size: 23px;
}

.booking .form-input-hire {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 30%;
  margin-bottom: 15px;
}

.booking .comment {
  font-size: 23px;
}

.booking .content {
  font-size: 20px;
}

/* apply styling to store section */
.store {
  text-align: center;
  background-color: #ffc6c3;
}

.store .section-title {
  font-size: 55px;
  padding-bottom: 20px;
}

.store .content {
  font-size: 23px;
}

.col-3 img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  overflow: hidden;
}

.store .shop {
  color: #ffc6c3;
  background-color: #69645b;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}









  