/* apply styling to the body */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #69645b;
}

/* apply styling to the header section */
header img {
    font-size: 36px;
    margin: 0;
    display: inline;
    height: 150px;
}

header a {
    text-decoration: none;
    color: #69645b;
}

header nav {
    float: right;
    margin: 7px 0;
    margin-top: 70px;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-size: 22px;
  }
  